
/* Добавил отступ чтобы не прилипало ( убрать потом когда на боевой сайт перенесется)  */
.price-list {
  margin-top: 50px;

  --font-family: 'Inter', sans-serif;
}


.price-list__wrapper {
  display: grid;
  grid-template-columns: 345px 1fr;
  gap: clamp(20px, 2.5vw, 30px)
}

.price-list .price-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
  align-items: flex-start;
  gap: 14px;
}


.price-list .price-list__items .product-item {
  width: 100%;
  margin: 0;
}


.price-list .filter-price-list {
  border: 1px solid rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  box-shadow: 6px 10px 20px -4px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 17px 16px;
}

.price-list .filter-price-list .filter-price-list-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #000;
  margin-bottom: 20px;
}

.price-list .filter-price-list .option-title {
  display: flex;
  align-items: center;
  gap: 7px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  cursor: pointer;
  margin-bottom: 10px;
}

.price-list .filter-price-list .option-title svg {
  pointer-events: none;
  transition: .3s ease;
}

.price-list .filter-price-list .option-title.active {
  color: #089bd6;
}

.price-list .filter-price-list .option-title.active svg {
  rotate: 90deg;
}

.price-list .filter-price-list .option-title.active svg path {
  fill: #089bd6;
}

.price-list .filter-price-list .options-fields {
  display: none;
  gap: 6px;
}

.price-list .filter-price-list .options-fields.is_active {
  display: grid;
}

.price-list .filter-price-list .option-wrapper:not(:last-child) {
  margin-bottom: 13px;
}

.price-list .filter-price-list .option-field {
  position: relative;
  max-width: fit-content;
}

.price-list .filter-price-list .option-field input {
  position: absolute;
  inset: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  appearance: none;
  -webkit-appearance: none;
}

.price-list .filter-price-list .option-field label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  display: block;
  padding-left: 22px;
  position: relative;

}

.price-list .filter-price-list .option-field label:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  background: rgba(217, 217, 217, 0);
  transition: .3s ease;
}

.price-list .filter-price-list .option-field input:checked + label:before {
  background: url('../../images/checked.svg') no-repeat;
  border-color: transparent;
}

.price-list .filter-price-list .option-field input:checked + label {
  color: #089bd6;
}

.filter-price-list-block {
  margin-bottom: 26px;
}

.filter-price-list-actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.filter-price-list-actions .btn-action {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 131%;
  color: #fff;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s ease;
  border: none;
}

.filter-price-list-actions .btn-action.btn-action-blue {
  background: #089bd6;
}

.filter-price-list-actions .btn-action.btn-action-red  {
  background: #d6080b;
}

@media(any-hover: hover) {
  .filter-price-list-actions .btn-action:hover {
    background: #000;
  }
}

.btn-filter-mobile {
  display: none;
}

.price-list__filter-close {
  display: none;
}


@media(max-width: 992px) {
  .price-list .price-list__wrapper {
    grid-template-columns: 1fr;
  }

  .price-list__filter {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0, 0.5);
    display: grid;
    place-items: center;
    overflow: auto;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    padding: 10px;
  }

  .price-list__filter.active {
    opacity: 1;
    visibility: visible;
  }

  .price-list .filter-price-list  {
    max-width: 340px;
    width: 100%;
  }

  .btn-filter-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 131%;
    color: #fff;
    padding: 15px;
    background: #089bd6;
    border-radius: 12px;
  }

  .price-list__filter-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

    svg path {
      fill: #fff;
    }
  }
}
